.container{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgb(8, 4, 46);
  z-index: 20;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;
}

.dialog{
  top: 27%;
}

.bottle{
  width: 30vw;
  position: fixed;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -15;
}
