.wrapper {
  display: flex;
  flex-direction: row;
  margin: 10px auto 0;
  width: 100px;
  height: 45px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.tab {
  overflow: hidden;
}

.tab {
  width: 13px;
  height: 13px;
  margin: auto;
  border-radius: 50%;
  background-color: darkgray;
  text-align: center;
}

.active {
  background-color: black;
}
