.dialog{
    width: fit-content;
    min-width: 240px;
    margin: auto;
    padding: 30px 40px;
    background-color: #C1FEFA;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    z-index: 10;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    
    &__title{
        font-size: 20px;
    }

    &__description{
        font-size: 15px;
    }

    &__button{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}