.container {
  background-color: gray;
  height: 100vh;
  width: 100%;
  padding: 20px 0;
}

.preview {
  margin: 0px 24px 16px;
  height: 500px;
  background-color: white;
  text-align: center;
}

.wrapper {
  margin: 0px 24px;
  height: 230px;
  background-color: white;
}
