.designWrapper {
  background-color: gray;
  height: 100vh;
  width: 100%;
  padding: 50px 0;
}

.preview {
  width: 90%;
  height: 60%;
  margin: auto;
  background-color: white;
  text-align: center;
}

.settingWrapper {
  width: 90%;
  height: 25%;
  background-color: white;
  margin: 50px auto 0;
}
