.pwdConfirm-wrap > .input-comp-wrap {
  position: absolute;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.div-hidden {
  visibility:hidden
}

.div-info {
  text-align: center;
  font-weight: 100;
  position: absolute;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -194%);
  font-size: 1rem;
}

.div-info > p {
  margin: 0
}
