.settings {
  height: 10%;
  display: flex;
  background-color: gray;
  flex-direction: row;
}

.settingsTab-item {
  width: 25%;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  border: 1px solid black;
  background-color: skyblue;
  text-align: center;
}

.settingsTab-item.activeSettingsTab {
  background-color: blue;
}

/* 
.tab {
  background-color: white;
  width: 100px;
} */
