.container {
  margin: 0px 24px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-weight: bold;
  font-size: 18px;
}

.item {
  border: 1px solid black;
  border-radius: 5px 5px 0px 0px;
  background-color: #C1FEFA;
  text-align: center;
  flex-grow: 1;
  padding-top: 5px;
}

.active {
  height: 30px;
  padding-top: 13px;
}