.signIn-wrap {
  text-align: center;
}

.logo-wrap {
  height: 45vh;
  display: grid;
  align-items: center;
}

.logo {
  width: 150px;
  height: 150px;
  display: table;
  border-radius: 50%;
  margin: auto;
  text-align: center;
  background-color: darkgray;
}

.logo-txt {
  display: table-cell;
  vertical-align: middle;
}

.input-comp-wrap {
  height: 35vh;
  display: inline-block;
}
