.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full {
  height: 100vh;
}

.dark {
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.center {
  position: relative;
  width: 150px;
  height: 200px;
}

.spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;

  &.top {
    animation: up-down-top;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  &.bottom {
    animation: up-down-bottom;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}

@keyframes up-down-top {
  0% {
    transform: translateY(-6px)
  }

  50% {
    transform: translateY(10px)
  }

  100% {
    transform: translateY(-6px)
  }
}

@keyframes up-down-bottom {
  0% {
    transform: translateY(-10px)
  }

  50% {
    transform: translateY(6px)
  }

  100% {
    transform: translateY(-10px)
  }
}