input {
  display: block;
  position: relative;
  text-align: center;
  margin: 1.5rem auto 3.5rem auto;
  border: none;
}

.input-txt__small {
  width: 50vw;
  height: 5vh;
  padding: 0 2rem;
  font-size: small;
  border-radius: 30px;
}

.input-txt__medium {
  width: 70vw;
  height: 6vh;
  padding: 0 2rem;
  font-size: larger;
  border-radius: 30px;
}

.input-txt__large {
  width: 70vw;
  height: 10vh;
  padding: 0 2.5rem;
  font-size: x-large;
  border-radius: 35px;
}

input.focus, input.warning {
  margin: 0 auto 2rem auto;
}

input.warning {
  border: 4px solid #F22D2D;
}

label {
  display: flex;
    transition: all 0.3s ease-in-out;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-left: 12vw;
    margin-bottom: 0.3rem;
}

label.warning {
  color: #F22D2D;
  font-size: large;
  font-weight: 600;
}
