.input {
  display: block;
  position: relative;
  text-align: center;
  margin: 1.5rem auto 3.5rem auto !important;
  border: none;
}

.input-txt__small {
  width: 50vw;
  height: 3rem;
  padding: 0 2rem;
  font-size: small;
  border-radius: 30px;
}

.input-txt__medium {
  width: 70vw;
  height: 3rem;
  padding: 0 2rem;
  font-size: larger;
  border-radius: 30px;
}

.input-txt__large {
  width: 70vw;
  height: 4rem;
  padding: 0 2.5rem;
  font-size: x-large;
  border-radius: 35px;
}

input.focus,
input.warning {
  margin: 0 auto 2rem auto !important;
}

input.warning {
  border: 4px solid #f22d2d;
}

label {
  display: flex;
  transition: all 0.3s ease-in-out;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-bottom: 0.3rem;
}

label.warning {
  color: #f22d2d;
  font-size: large;
  font-weight: 600;
}

label.focus , label.warning {
  width: 100%;
  text-align: left;
  padding-left: 1rem;
}
